@model htbox.ViewModels.CMS.BlogPost

@{
    ViewBag.Title = Model.Title + " : " + Model.Blog.PageTitle;
    ViewBag.ShowTitleOnPage = false;
    ViewBag.BackPage = Model.Blog;
}

@if (Model.HasImage) {
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <img class="img-responsive" src="@Model.Image" />
        </div>
    </div>
}
<div>
    <h2>@Model.Title</h2>
    @if (Model.Published.HasValue) {
        <p class="text-muted">@Model.Published.Value.ToLongDateString()</p>
    } else {
        <p>&nbsp;</p>
    }
    <p>&nbsp;</p>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-8">
        @Html.Raw(Model.Text)
    </div>
</div>


