<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="n2" type="N2.Configuration.SectionGroup, N2">
      <section name="host" type="N2.Configuration.HostSection, N2" requirePermission="false" restartOnExternalChanges="true" />
      <section name="engine" type="N2.Configuration.EngineSection, N2" requirePermission="false" restartOnExternalChanges="true" />
      <section name="database" type="N2.Configuration.DatabaseSection, N2" requirePermission="false" restartOnExternalChanges="true" />
      <section name="edit" type="N2.Configuration.EditSection, N2" requirePermission="false" restartOnExternalChanges="true" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  <system.web>

    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" />

    <compilation debug="true" targetFramework="4.5">
      <expressionBuilders>
        <add expressionPrefix="CurrentItem" type="N2.Web.Compilation.CurrentItemExpressionBuilder, N2" />
        <add expressionPrefix="CurrentPage" type="N2.Web.Compilation.CurrentPageExpressionBuilder, N2" />
        <add expressionPrefix="StartPage" type="N2.Web.Compilation.StartPageExpressionBuilder, N2" />
        <add expressionPrefix="Code" type="N2.Web.Compilation.CodeExpressionBuilder, N2" />
        <add expressionPrefix="HasValue" type="N2.Web.Compilation.HasValueExpressionBuilder, N2" />
      </expressionBuilders>
    </compilation>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="N2.Linq" />
        <add namespace="N2.Web.Mvc.Html" />
      </namespaces>
      <controls>
        <add tagPrefix="n2" namespace="N2.Web.UI.WebControls" assembly="N2" />
      </controls>
      <tagMapping>
        <add tagType="System.Web.UI.HtmlControls.HtmlForm" mappedTagType="N2.Web.UI.WebControls.RawUrlForm" />
      </tagMapping>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="N2/Login.aspx" />
    </authentication>
    <membership defaultProvider="ContentMembershipProvider">
      <providers>
        <add passwordFormat="Hashed" name="ContentMembershipProvider"
          type="N2.Security.ContentMembershipProvider, N2.Management" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ContentRoleProvider">
      <providers>
        <add name="ContentRoleProvider" type="N2.Security.ContentRoleProvider, N2.Management" />
      </providers>
    </roleManager>
    <profile defaultProvider="ContentProfileProvider">
      <providers>
        <add name="ContentProfileProvider" type="N2.Security.ContentProfileProvider, N2.Management" />
      </providers>
    </profile>
    <siteMap defaultProvider="PublicSiteMap">
      <providers>
        <add name="PublicSiteMap" type="N2.Web.PublicSiteMapProvider, N2" startPageIsRoot="true" />
      </providers>
    </siteMap>
    <httpModules>
      <add name="n2.initializer" type="N2.Web.InitializerModule, N2" />
    </httpModules>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="n2.initializer" type="N2.Web.InitializerModule, N2" />
    </modules>
    <rewrite>
      <rules>
        <rule name="RequireSSL for N2 admin" enabled="false" stopProcessing="true">
          <match url="^n2.*$" ignoreCase="true" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:0}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <n2 xmlns="http://n2cms.com/schemas/configuration/v3">
    <database tablePrefix="n2htbox_" connectionStringName="wsdb" caching="true"></database>
    <edit>
      <installer checkInstallationStatus="false" allowInstallation="false" />
    </edit>
    <host rootID="1" startPageID="2" multipleSites="true">
      <web extension="" />
      <vpp>
        <zips>
          <add name="n2.management" observedPath="~/N2/" filePath="~/N2/N2.zip" />
        </zips>
      </vpp>
    </host>
    <engine>
      <errors action="Email" mailTo="" mailFrom="noreply@yourdomain.com" />
      <globalization enabled="true" />
    </engine>
  </n2>
  <connectionStrings>
    <add name="wsdb" connectionString="(empty)"/>
  </connectionStrings>
</configuration>
