<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <authentication>
      <forms requireSSL="true" loginUrl="N2/Login.aspx" xdt:Transform="Replace" />
    </authentication>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="RequireSSL for N2 admin" enabled="true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      </rules>
    </rewrite>
  </system.webServer>
  <n2 xmlns="http://n2cms.com/schemas/configuration/v3">
    <edit>
      <installer checkInstallationStatus="false" allowInstallation="false" xdt:Transform="SetAttributes"/>
    </edit>
  </n2>
</configuration>