@model htbox.ViewModels.CMS.CMSPage

@{
    ViewBag.Title = Model.PageTitle;
    ViewBag.PageText = Model.Text.Replace("<p>Paypal Button</p>", @"<form action='https://www.paypal.com/cgi-bin/webscr' method='post' target='_top'>
<input type='hidden' name='cmd' value='_s-xclick'>
<input type='hidden' name='hosted_button_id' value='WMLLYP8K975FQ'>
<input type='image' src='https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif' border='0' name='submit' alt='PayPal - The safer, easier way to pay online!'>
<img alt='' border='0' src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif' width='1' height='1'>
</form>");
}

<div class="row">
@if (Model.HasImage) {
    <div class="col-sm-12 col-md-8">
        @Html.Raw(ViewBag.PageText)
    </div>
    <div class="hidden-xs hidden-sm col-md-4">
        <img class="img-responsive" src="@Model.Image" alt="@Model.ImageAltText" />
    </div>
} else {
    <div class="col-xs-12">
        @Html.Raw(ViewBag.PageText)
    </div>
}
</div>